<h1><%= @page_title  %></h1>
<p>This for about view /views/about/index.html.erb</p>
<div class-"well">
	<h3>location Info</h3>
	<ul>
		<li>The bookstore</li>
		<li>Sector citrus heightset</li>
		<li>Address voston, nabongo CA</li>
		<li>phone number 91167529446</li>
		<li>The bookstore</li>
	</ul>
	</div>